body {
    background-color: rgb(134, 134, 134);
    margin: 5% 18% 5% 18%;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: white;
    height: 50px;
    width: 100%;
    align-items: center;
}
.content-header {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px;
}
main {
    width: 100%;
    margin: 15px 0px 15px 0px;
}
.big_card {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
#big_img {
    padding: 5px;
}
.card_fila {
    margin: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    gap: 55px;
}
.card {
    justify-content: center;
    background-color: white;
    padding: 5px;
    height: 350px;
}
p {
    font-size: 10px;
    text-align: justify;
}
a {
    color: black;
}
footer {
    background-color: white;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.content-footer-left {
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding: 15px;
    font-size: 10px;
}
.content-footer-right {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px;
}